.wrapper {
  width: 70%;
  height: 20%;
  display: block;
  position: fixed;
  margin: auto;
  padding-top: 24%;
  top: 0;
  bottom: 0;
  left: 20%;
}

.head {
  width: 6%;
  height: 17%;
  border: 0.3vw solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 7%;
  left: 18%;
  transform-origin: center bottom;
}

.mouth {
  position: absolute;
  width: 2%;
  height: 5%;
  border-style: solid;
  border-color: red;
  border-radius: 100%;
  border-width: 0 0 0.2vw 0;
  top: 15.5%;
  left: 20%;
  z-index: -1;
  display: block;
}

.eye {
  width: 0.8%;
  height: 2%;
  border: 0.2vw solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 13%;
  left: 19.6%;
  rotate: 25deg;
  transform-origin: center bottom;
}

.eye2 {
  width: 0.8%;
  height: 2%;
  border: 0.2vw solid black;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 13%;
  left: 21.1%;
  rotate: 25deg;
  transform-origin: center bottom;
}

.torso {
  width: 0.8%;
  height: 27%;
  border: 0.1vw solid black;
  display: block;
  position: absolute;
  top: 23%;
  left: 20.5%;
  background-color: black;
}

.leftleg2 {
  width: 0.6%;
  height: 27%;
  border: 0.1vw solid black;
  display: block;
  position: absolute;
  top: 50%;
  left: 20.45%;
  transform: rotate(20deg);

  animation-iteration-count: 5;
  transform-origin: top;
  background-color: black;
}

.rightleg2 {
  width: 0.6%;
  height: 27%;
  border: 0.1vw solid black;
  display: block;
  position: absolute;
  top: 50%;
  left: 20.7032123159%;
  transform: rotate(-20deg);

  animation-iteration-count: 5;
  transform-origin: top;
  background-color: black;
}

.leftarm {
  width: 10%;
  height: 1%;
  border: 0.1vw solid black;
  display: block;
  position: absolute;
  top: 25%;
  left: 21.3%;
  transform: rotate(70deg);
  transform-origin: 0%;
  background-color: black;
  animation: wave 10s alternate;
}

@keyframes wave {
  0% {
    transform: rotate(70deg);
  }
  10% {
    transform: rotate(70deg);
  }
  30% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(0deg);
  }
  70% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(30deg);
  }
  95% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(70deg);
  }
}

.rightarm {
  width: 10%;
  height: 1%;
  border: 0.1vw solid black;
  display: block;
  position: absolute;
  top: 25%;
  left: 20.5%;
  rotate: 110deg;
  transform-origin: 0%;
  background-color: black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.resultdiv {
  animation: fadeIn 1s;
  border-radius: 50px;
  position: absolute;
  font-size: 1vw;
  text-align: center;
  border: none;
  color: #ffffff;
  width: 30%;
  height: 10%;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #983630;
}

#first {
  left: 35%;
  top: 3%;
}

#second {
  left: 35%;
  top: 23%;
}

#third {
  left: 35%;
  top: 43%;
}

#result {
  width: 19%;
  height: 10%;
  left: 35%;
  top: 63%;
}

#okbutton {
  animation: fadeIn 0.5s;
  position: absolute;
  background-color: #efa044;
  color: #ffffff;
  font-size: 1vw;
  border: none;
  border-radius: 50px;
  left: 55%;
  top: 58%;
  width: 10%;
  height: 10%;
  transition: background-color 0.5s;
}

#okbutton:hover {
  background-color: #ee8c1d;
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
    height: 35%;
  }

  .resultdiv {
    font-size: 1em;
    border-radius: 2em;
    width: 40%;
    height: 20%;
  }

  #first {
    left: 35%;
    top: -5%;
  }

  #second {
    left: 37%;
    top: 25%;
  }
  #third {
    left: 40%;
    top: 50%;
  }

  #result {
    width: 30%;
    height: 20%;
    left: 35%;
    top: 75%;
  }

  #okbutton {
    font-size: 1em;
    top: 100%;
    left: 10%;
    width: 30%;
    height: 20%;
  }
}
