<div class="wrapper">
  <div class="head"></div>
  <div class="mouth"></div>
  <div class="eye"></div>
  <div class="eye2"></div>
  <div class="torso"></div>
  <div class="leftarm"></div>
  <div class="rightarm"></div>
  <div class="leftleg2"></div>
  <div class="rightleg2"></div>
  <div class="resultdiv" id="first" hidden >{{winDifficulty}} fokozaton</div>
  <div class="resultdiv" id="second" hidden>{{time}}</div>
  <div class="resultdiv" id="third" hidden>{{level}} kreditet szereztél</div>
  <div class="resultdiv" id="result" >{{eredmeny}}</div>
  <button id="okbutton" type="submit" hidden routerLink="/lobby">Befejezés</button>
</div>
