@import '../app.component.scss';

nav {
  width: 100%;
  padding: 24px;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  padding: 16px 32px;

}

nav ul li a {
  display: flex;
  align-items: flex-end;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #efa044;
}

nav ul li a.active {
  color: #efa044;
}

nav ul li a i {
  margin-right: 5px;
}

.content {
  width: 100%;
  padding: 48px 60px;
}

.content .box {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
}

.content .box h2 {
  margin-bottom: 24px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.content .box table {
  width: 100%;
}

.content .box table thead th {
  padding-bottom: 8px;
}

.content .box table th {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.content .box table td {
  padding: 12px;
  border: 2px solid #e1def9;
}

.content .box table td:last-child {
  border: none;
}

.content .box table td .unban {
  color: #51dc35;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.content .box table td .ban {
  color: #983630;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

::ng-deep .modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

::ng-deep .modal-content {
  width: 550px;
  border: none;
  border-radius: 16px;
}

@media screen and (max-width: 1150px) {
  nav ul {
    flex-direction: column;
  }

  .content {
    padding: 0 60px 48px 60px;
  }
}

@media screen and (max-width: 800px) {
  nav {
    padding: 12px 0;
  }

  .content {
    padding: 0 40px 40px 40px;
  }
}

@media screen and (max-width: 525px) {
  .content {
    padding: 0 12px 30px 12px;
  }
}
