<div class="content">
  <div class="title">
    <h2>Legyen Ön is kreditmilliomos!</h2>
  </div>
  <div class="lobby">
    <div class="menu">
      <h3>Játék beállítása</h3>
      <div class="category">
        <label>kategória</label>
        <select #category>
          <option [defaultSelected]=true [ngValue]="" value="Válassz kategóriát">Válassz kategóriát!</option>
          <option *ngFor="let category of allQuestionCategories; let i = index" [attr.data-index]="i">{{category.category}}</option>
        </select>
      </div>
      <div class="difficulty">
        <label>nehézségi szint</label>
        <div class="buttons">
          <div class="button">
            <button (click)="mouseClick(0)" [ngClass]="{'active': difficulty == '0'}">Könnyű</button>
          </div>
          <div class="button">
            <button (click)="mouseClick(1)" [ngClass]="{'active': difficulty == '1'}">Közepes</button>
          </div>
          <div class="button">
            <button (click)="mouseClick(2)" [ngClass]="{'active': difficulty == '2'}">Nehéz</button>
          </div>
        </div>
      </div>
      <button (click)="startNewGame(category.value)">Játék indítása</button>
    </div>
  </div>
</div>
