@import '../app.component.scss';

nav {
  width: 100%;
  padding: 24px;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  padding: 16px 32px;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #efa044;
}

nav ul li a.active {
  color: #efa044;
}

nav ul li a i {
  margin-right: 5px;
}

.content {
  width: 100%;
  padding: 48px 60px;
}

.content .box {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
}

.content .box .new-category-button {
  padding: 8px 32px;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  float: right;
  background-color: #efa044;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

.content .box .new-category-button:hover {
  background-color: #ee8c1d;
}

.content .box h2 {
  margin-bottom: 24px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.content .box table {
  width: 100%;
}

.content .box table thead th {
  padding-bottom: 8px;
}

.content .box table th {
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.content .box table td {
  padding: 12px;
  border: 2px solid #e1def9;
}

.new-category {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 1;
}

.new-category .content {
  padding: 24px;
  margin: auto;
  width: 630px;
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
}

.new-category .content h2 {
  margin-bottom: 24px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.new-category .content .input-box {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.new-category .content .input-box label {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.new-category .content .input-box input {
  padding: 16px 24px;
  margin: 8px 0;
  display: inline-block;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e1def9;
  border-radius: 8px;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

.new-category .content .input-box input::placeholder {
  color: #333333;
  opacity: 0.3;
}

.new-category .content .save-button {
  padding: 8px 32px;
  margin-right: 20px;
  background-color: #efa044;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
}

.new-category .content .save-button:hover {
  background-color: #ee8c1d;
}

.new-category .content .cancel-button {
  padding: 8px 32px;
  background-color: #efa044;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
}

.new-category .content .cancel-button:hover {
  background-color: #ee8c1d;
}
