<div [hidden]="!loading" class="loading">
    <img class="loadingpic" src="assets/images/kreditmilliomos-red.png" alt="Loading animation">
</div>

<nav>
    <ul>
      <li><a routerLink="/admin-users"><i class="material-icons">supervisor_account</i>Felhasználók kezelése</a></li>
      <li><a routerLink="/admin-questions"><i class="material-icons">help_outline</i>Kérdések kezelése</a></li>
      <li><a routerLink="/admin-category" class="active"><i class="material-icons">category</i>Kategóriák kezelése</a></li>
      <li><a (click)="this.authservice.logout()"><i class="material-icons">exit_to_app</i>Kijelentkezés</a></li>
    </ul>
  </nav>

<!-- QUESTION CATEGORIES - START -->
<div class="container-lg my-5 shadow-lg p-3 mb-5 bg-white rounded rounded border border-dark">
    <h4>Összes jelenlegi kategória:</h4>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Kategória</th>
          </tr>
        </thead>
        <tbody *ngFor="let category of allQuestionCategories; let i = index" [attr.data-index]="i">
            <tr>
                <td>{{category.category}}</td>
            </tr>
        </tbody>
      </table>
  </div>
  <!-- NEW CATEGORY - START -->
  <div class="container-lg my-5 shadow-lg p-3 mb-5 bg-white rounded rounded border border-dark" style="max-width: 740px;">
    <div id="questions">
        <form [formGroup]="categoryForm" (ngSubmit)="createQuestionCategory()">
            <h2>Új kérdés kategória</h2>
            <div>
                <label for="category">Kategória: *</label>
                <input type="text" id="category" placeholder="Elektronika" formControlName="category" required>
            </div>
            <!-- BUTTONS -->
            <div id="buttons">
                <button type="submit" id="submit_question_button">Mentés</button>
                <button type="reset" id="cancel_question_button" >Mégse</button>
            </div>
        </form>
    </div>
  </div>
  <!-- NEW CATEGORY - END -->