@import '../app.component.scss';

nav {
    width: 100%;
    padding: 24px;
  }
  
  nav ul {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
  }
  
  nav ul li {
    padding: 16px 32px;
  }
  
  nav ul li a {
    display: flex;
    align-items: center;
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
  }
  
  nav ul li a:hover {
    color: #efa044;
  }
  
  nav ul li a.active {
    color: #efa044;
  }
  
  nav ul li a i {
    margin-right: 5px;
  }