<div class="content">
  <img src="../../assets/images/kreditmilliomos-red.png">
  <h2>Üdvözöllek a Kreditmilliomos kvízjáték weboldalán!</h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  <div class="buttons">
    <button *ngIf="!this.loggedin" routerLink="/register">Regisztráció</button>
    <button *ngIf="!this.loggedin" routerLink="/login">Bejelentkezés</button>
    <button *ngIf="this.loggedin" routerLink="/profile">Profil</button>
    <button *ngIf="this.loggedin" (click)="this.auth.logout()">Kijelentkezés</button>
  </div>
</div>
