<div class="content">
  <img src="../../assets/images/kreditmilliomos-red.png">
  <h2>Üdvözöllek a Kreditmilliomos kvízjáték oldalán!</h2>
  <p>A játék számos egyetemi tárgyból és vizsgából származó kérdést tartalmaz, így segít abban, hogy átfogóbban és hatékonyabban készülj fel vizsgáidra. Kvízünk szórakoztató és interaktív módja annak, hogy még jobban elsajátítsd a nehézséget okozó tananyagot.</p>
  <div class="buttons">
    <button *ngIf="!this.loggedin" routerLink="/register">Regisztráció</button>
    <button *ngIf="!this.loggedin" routerLink="/login">Bejelentkezés</button>
    <button *ngIf="this.loggedin" routerLink="/profile">Profilom</button>
    <button *ngIf="this.loggedin" (click)="this.auth.logout()">Kijelentkezés</button>
  </div>

  <div class="scoreboard">
    <h2>Toplista</h2>
    <div class="list">
      <div class="placed" *ngFor="let item of scores | keyvalue: originalOrder; let i = index">
        <div class="username">
          <div class="place">
            #{{i + 1}}
          </div>
          {{item.key}}
        </div>
        <div class="score">
          {{item.value}} kredit
        </div>
      </div>
    </div>
  </div>

  <a (click)="showForm = true"><i class="material-icons">question_mark</i></a>
</div>

<div class="how-to-play" *ngIf="showForm">
  <div class="content">
    <h2>Hogyan kell a játékot játszani?</h2>
    Hamarosan...
    <button (click)="showForm = false" class="close"><i class="material-icons">close</i></button>
  </div>
</div>
