#felezes:before{
  content: 'balance';
  font-family: 'Material Icons';
}

#szavazas:before{
  content: 'group';
  font-family: 'Material Icons';
}

#newq:before{
  content: 'cached';
  font-family: 'Material Icons';
}

.content {
  padding: 112px 0 60px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content img {
  width: 200px;
  height: auto;
}

.content h2 {
  margin-top: 32px;
  color: #333333;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.content p {
  margin: 16px 0;
  width: 60%;
  color: #666666;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.content .buttons {
  display: flex;
}

.content button:first-of-type {
  padding: 16px 32px;
  margin: 14px 24px 24px 0;
  background-color: #efa044;
  color: #ffffff;
  width: 100%;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
}

.content button:first-of-type:hover {
  background-color: #ee8c1d;
}

.content button:last-of-type {
  padding: 16px 32px;
  margin: 14px 0 24px 0;
  background-color: transparent;
  color: #333;
  width: 100%;
  font-weight: 600;
  border: 2px solid #efa044;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.content button:last-of-type:hover {
  color: #ffffff;
  background-color: #ee8c1d;
}

.content .scoreboard {
  padding: 24px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 60%;
  background-color: #ffffff;
  border-radius: 16px;
}

.content .scoreboard h2 {
  margin: 0;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  text-align: left;
}

.content .scoreboard .list {
  margin-top: 16px;
  width: 100%;
}

.content .scoreboard .list .placed {
  padding: 24px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #e1def9;
  border-radius: 16px;
}

.content .scoreboard .list .placed .username {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
}

.content .scoreboard .list .placed .username .place {
  padding: 7px 6px 7px 7px;
  margin-right: 16px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  background-color: #efeefc;
  border-radius: 50px;
}

.content .scoreboard .list .placed:first-child .username .place {
  background-color: #ffd54b;
}

.content .scoreboard .list .placed:nth-child(2) .username .place {
  background-color: #e1e1e2;
}

.content .scoreboard .list .placed:nth-child(3) .username .place {
  background-color: #f6b191;
}

.content .scoreboard .list .placed .score {
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.content a {
  position: fixed;
  top: 10px;
  right: 10px;
  color: #efa044;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s;
}

.content a:hover {
  color: #ee8c1d;
}

.how-to-play {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 1;
}

.how-to-play .content {
  padding: 24px;
  margin: 25px auto;
  width: 630px;
  position: relative;
  display: block;
  text-align: left;
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
}

.how-to-play .content h2 {
  margin-bottom: 24px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}


.how-to-play .content ol li {
  margin: 5px 0;
}

.how-to-play .content .close {
  padding: 0;
  margin: 0;
  width: fit-content;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .content {
    padding: 40px 0;
  }

  .content .scoreboard {
    margin-top: 20px;
    width: 90%;
  }
}

@media screen and (max-width: 835px) {
  .content p {
    width: 90%;
  }

  .content a {
    position: absolute;
  }
}

@media screen and (max-width: 730px) {
  .how-to-play .content {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .content .scoreboard .list .placed {
    padding: 15px;
  }
}

@media screen and (max-width: 525px) {
  .content .buttons {
    flex-direction: column;
  }

  .content button:first-of-type {
    margin: 5px 0;
  }

  .how-to-play .content {
    padding: 12px;
  }
}
