<div class="content">
  <img src="../../assets/images/kreditmilliomos-red.png">
  <h2>Üdvözöllek a Kreditmilliomos kvízjáték oldalán!</h2>
  <p>A játék számos egyetemi tárgyból és vizsgából származó kérdést tartalmaz, így segít abban, hogy átfogóbban és hatékonyabban készülj fel vizsgáidra. Kvízünk szórakoztató és interaktív módja annak, hogy még jobban elsajátítsd a nehézséget okozó tananyagot.</p>
  <div class="buttons">
    <button *ngIf="!this.loggedin" routerLink="/register">Regisztráció</button>
    <button *ngIf="!this.loggedin" routerLink="/login">Bejelentkezés</button>
    <button *ngIf="this.loggedin" routerLink="/profile">Profil</button>
    <button *ngIf="this.loggedin" (click)="this.auth.logout()">Kijelentkezés</button>
  </div>

  <div class="scoreBoard"> <!-- TODO: CSS -->
    név | kredit
    <div *ngFor="let item of scores | keyvalue: originalOrder">
      {{item.key}} : {{item.value}}
    </div>
  </div>

</div>
