$chart-width:50%;
$chart-height:20%;

$grid-color: #333333;
$bar-color: #51dc35;
$bar-thickness:10%;
$bar-rounded: 3px;
$bar-spacing: 30%;

.chart-wrap{

  margin-left:2%;
  margin-bottom: -20%;
  font-family:sans-serif;
  &.vertical .grid{
    transform:translateY($chart-height/2 - $chart-width/2) translateX($chart-width/2 - $chart-height/2) rotate(-90deg);


    .bar::after{
      transform:translateY(-0.66em) rotate(90deg);
      display: block;
    }
    &::before,&::after{
      transform:translateX(-0.2em) rotate(90deg);
    }
  }

  height:$chart-width;
  width:0%;
  .grid{
    position:relative;
    padding:5px 0 5px 0;
    height:100%;
    width:100%;
    border-left:2px solid $grid-color;

    background:repeating-linear-gradient(90deg,transparent,transparent 19%, $grid-color 20%);

    &::before{
      font-size:0.8em;
      font-weight:bold;
      content: "0%";
      position:absolute;
      left:-0.5em;
      top:-1.5em;
    }
    &::after{
      font-size:0.8em;
      font-weight:bold;
      content:'100%';
      position:absolute;
      right:-1.5em;
      top:-1.5em;
    }
   }



  .bar {
    width: var(--bar-value);
    height:$bar-thickness;
    margin:$bar-spacing 0;
    background-color:$bar-color;
    border-radius:0 $bar-rounded $bar-rounded 0;

    &::after{
      content:attr(data-name);
      margin-left:100%;
      padding:10px;
      display:inline-block;
      white-space:nowrap;
    }
  }
}
