// Page settings
:host {
  display: block;
  background-color: rgb(152, 54, 48);
  overflow: hidden;
}

#game-window-container {
  color: var(--col-pale);
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

// Title
#title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

#main-panel {
  margin-left: 2%;
}

// Answers
#answers {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.answer-box:hover {
  background-color: #ffc107;
  color: white;
  cursor: pointer;
}

.answer-box-selected {
  background-color: #ffc107;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: aliceblue;
}

// Button
#submit-button {
  color: white;
}

.submit-button-active {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white;
  cursor: pointer;
}
