@import './intro.scss';
@import './chart.scss';

.content {
  padding-top: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #983630;
}

.content .title {
  left: auto;
}

.content .title h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
}

.content .game {
  padding: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content .game .question {
  padding: 32px 64px;
  margin-right: 60px;
  width: 950px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
}

.content .game .question #countdown {
	font-family: 'Roboto Condensed', sans-serif;
	width: 200px;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 10%;
	margin-left: -100px;
	margin-top: -50px;
	color: #333333;
	font-size: 5em;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	-webkit-opacity: 1.0;
	-moz-opacity: 1.0;
	opacity: 1.0;
	transition: opacity 0.2s ease;
	-moz-transition: opacity 0.2s ease;
	-ms-transition: opacity 0.2s ease;
	-o-transition: opacity 0.2s ease;
	perspective: 1000;
	backface-visibility: hidden;

	&.puffer {
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		transform: scale(1.6,1.6);
		-moz-transform: scale(1.6,1.6);
		-ms-transform: scale(1.6,1.6);
		-o-transform: scale(1.6,1.6);
		transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
		-o-transition: all 0.2s ease-out;
	}
}

.content .game .question h3 {
  margin-top: 100px;
  color: #333333;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.content .game .question .chart-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 1;
}

.content .game .question .chart-modal .modal-content {
  margin: auto;
  width: 65%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
}

.content .game .question .chart-modal .modal-content button {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: auto;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.content .game .question .answers {
  margin-top: 30px;
  margin-bottom: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 24px;
}

.content .game .question .answers .answer {
  padding: 24px;
  width: 400px;
  height: 75px;
  position: relative;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: 2px solid #efa044;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.content .game .question .answers .answer::before {
  opacity: 0.5;
  position: absolute;
  top: 17px;
  left: 13px;
  color: #333333;
  font-size: 25px;
}

.content .game .question .answers #answerA .answer::before {
  content: 'A';
}

.content .game .question .answers #answerB .answer::before {
  content: 'B';
}

.content .game .question .answers #answerC .answer::before {
  content: 'C';
}

.content .game .question .answers #answerD .answer::before {
  content: 'D';
}

.content .game .question .answers .answer:not(.disabled):hover {
  color: #ffffff;
  background-color: #efa044;
}

.content .game .question .answers .answer.answer-selected {
  color: #ffffff;
  background-color: #efa044;
}

.content .game .question .answers .answer.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.content .game .question .answers .answerbackground {
  border-radius: 16px;
}

.content .game .question button {
  padding: 16px 32px;
  margin: 14px 0 60px 0;
  background-color: #b3b3b3;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  cursor: not-allowed;
}

.content .game .question button.button-active {
  background-color: #efa044;
  color: #ffffff;
  cursor: pointer;
}

.content .game .question button.button-active:hover {
  background-color: #ee8c1d;
}

.content .game .sidebar {
  padding: 20px 16px;
  width: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
}

.content .game .sidebar a {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.content .game .sidebar a i {
  color: #333333;
  font-size: 20px;
  transition: 0.4s;
}

.content .game .sidebar .helps {
  margin-top: 10px;
  display: flex;
}

.content .game .sidebar .helps .help {
  margin: 0 10px;
  cursor: pointer;
}

.content .game .sidebar .helps .help.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.content .game .sidebar .helps .help i {
  padding: 8px;
  color: #333333;
  font-size: 22px;
  border: 2px solid #efa044;
  border-radius: 50%;
  transition: background-color 0.4s;
}

.content .game .sidebar .helps .help:not(.disabled) i:hover {
  color: #ffffff;
  background-color: #efa044;
}

.content .game .sidebar .helps .help .line {
  margin: 0;
  position: relative;
  bottom: 100%;
  left: 0;
  width: 141.421356237%;
  height: 2px;
  background-color: #333333;
  transform: rotate(45deg);
  transform-origin: 0 0;
}

.content .game .sidebar ul {
  width: 90%;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.content .game .sidebar ul li {
  height: calc(100%/15);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  border-top: 0.2px solid #75717130;
}

.content .game .sidebar ul li.answered {
  color: #333333;
  opacity: 0.5;
}

.content .game .sidebar ul li:nth-child(6),
.content .game .sidebar ul li:nth-child(11),
.content .game .sidebar ul li:first-child {
  color: #efa044;
}

.content .game .sidebar ul li.active {
  color: #ffffff;
  background-color: #efa044;
  border-radius: 16px;
}

.content .game .sidebar ul li.active + .answered {
  border-top: none;
}

.content .game .sidebar ul li:first-child {
  border: none;
}
