<div [hidden]="!loading" class="loading">
  <img class="loadingpic" src="assets/images/kreditmilliomos-red.png" alt="Loading animation">
</div>

<div class="content">
  <div [formGroup]="loginForm" class="login">
    <h2>Bejelentkezés</h2>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{errorMsg}}
    </div>
    <div class="input-box">
      <label for="logemail">e-mail cím</label>
      <input id="logemail" type="text" formControlName="email" #email placeholder="Add meg az e-mail címedet">
    </div>
    <div class="input-box">
      <label for="logpassword">jelszó</label>
      <input id="logpassword" formControlName="password" type="password" #password placeholder="Add meg a jelszavadat">
    </div>
    <button class="login-button" type="submit" (click)="this.onLoginClicked(email.value, password.value)">Bejelentkezés</button>
    <div class="separator">
      <div class="line"></div>
      <div class="text">vagy</div>
      <div class="line"></div>
    </div>
    <div class="google">
      <button (click)="this.onGoogleLogin()"><img src="../../assets/images/google-logo.png"> Folytatás Google-fiókkal</button>
    </div>
    <div class="registration">
      Nincs még fiókod? <a routerLink="/register">Regisztrálj!</a>
    </div>
  </div>
</div>
