<!--TODO! 
Form for adding a new question
GIVEN as an administrator
WHEN I log in and land on the administrator main page
AND press the "Add new question" button
THEN I would like to see a "New question" form with 'Save', and 'Cancel' buttons
Acceptance criteria (AC) The "New question" form contains the following mandatory and optional fields:

Category:Mandatory. Category of the question
Question:Mandatory: question text
Level:Mandatory. Identifier of the level on which the question can be raised. The value can be between 1-15
AnswerA:Mandatory. Answer for choice A
AnswerB:Mandatory. Answer for choice B
AnswerC:Mandatory. Answer for choice C
AnswerC:Mandatory. Answer for choice D
Correct Answer:Mandatory: Letter in A,B,C,D
Save button
-->

<nav id="navbar">
    <li>Admin oldal</li>
    <li (click)="showForm = true">Új kérdés</li>
    <li>Valami</li>
    <li>Kijelentkezés</li>
    
    <div id="dot"></div>
</nav>
<div id="admin_page">
    <div id="users_dashboard">
        <!-- User data management -- Máté -->
        <h5>Felhasználók</h5>
        <div id="users_dashboard_datas">
            <p>Users Dashboard part</p>
        </div>
        
    </div>
    <div id="questions">
        <form *ngIf="showForm">
            
            <h2>Új kérdés</h2>
       
            <div>
                <label for="category">Kategória: *</label>
                <input type="text" id="category" placeholder="Elektronika" name="category" required>
            </div>
            <div>
                <label for="question">Kérdés: *</label>
                <input type="textarea" id="question" name="question" minlength="6" required>
            </div>
            <div>
                <label for="answerA">'A' válasz: *</label>
                <input type="text" id="answerA" name="answerA" required>
            </div>
            <div>
                <label for="answerB">'B' válasz: *</label>
                <input type="text" id="answerB" name="answerB" required>
            </div>
            <div>
                <label for="answerC">'C' válasz: *</label>
                <input type="text" id="answerC" name="answerC" required>
            </div>
            <div>
                <label for="answerD">'D' válasz: *</label>
                <input type="text" id="answerD" name="answerD" required>
            </div>
            <div>
                <label for="correctAnswer">Helyes válasz: *</label>
                <select id="correctAnswer" name="correctAnswer" required>
                    <option value="answerA">A</option>
                    <option value="answerB">B</option>
                    <option value="answerC">C</option>
                    <option value="answerD">D</option>
                </select>
            </div>
            <!-- BUTTONS -->
            <div id="buttons">
                <button type="submit" id="submit_question_button">Mentés</button>
                <button type="reset" id="cancel_question_button" >Mégse</button>
            </div>
        </form>
    </div>
</div>

<div class="container-lg my-5 shadow-lg p-3 mb-5 bg-white rounded rounded border border-dark" style="max-width: 640px;">
    <h4 class="import-label">Importálás fájlból</h4>
    <div *ngIf="error" class="alert alert-danger" role="alert">
        {{errorMsg}}
    </div>
    <div class="mb-3">
        <label for="formFileSm" class="form-label">Kérdéseket tartalmazó .csv fájl megnyitása</label>
        <input class="form-control form-control-sm border border-dark" id="formFileSm" type="file" style="width: 360px; color: black;" (change)="this.fileChanged($event)">
        <br>
        <button type="button" class="btn btn-secondary m-2 border border-dark" (click)="this.load()">Betöltés</button>
        <button type="button" class="btn btn-info m-2 border border-dark" (click)="this.display()">Betöltött kérdések megjelenítése</button>
    </div>
</div>

<div *ngIf="visible" class="container-lg my-5 shadow-lg p-3 mb-5 bg-white rounded rounded border border-dark">
    <h4>Betöltött kérdések:</h4>
    <br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Kategória</th>
            <th scope="col">Kérdés</th>
            <th scope="col">Nehézség</th>
            <th scope="col">Válasz A</th>
            <th scope="col">Válasz B</th>
            <th scope="col">Válasz C</th>
            <th scope="col">Válasz D</th>
            <th scope="col">Megfejtés</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of items">
            <tr>
                <th scope="row">{{item.category}}</th>
                <td>{{item.question}}</td>
                <td>{{item.level}}</td>
                <td>{{item.a1}}</td>
                <td>{{item.a2}}</td>
                <td>{{item.a3}}</td>
                <td>{{item.a4}}</td>
                <td>{{item.correct}}</td>
            </tr>
        </tbody>
      </table>
    <button type="button" class="btn btn-success m-2 border border-dark" (click)="this.save()">Betöltött kérdések mentése</button>
    <button type="button" class="btn btn-danger m-2 border border-dark" (click)="this.delete()">Betöltött kérdések törlése</button>
</div>

<footer>
    <p>&copy; 2023 Admin Site. All rights reserved.</p>
</footer>

