<nav>
    <div class="logo">Legyen ön is Kreditmilliomos!</div>
    <div class="game_start">
      <button class="start-button" (click)="redirectToLobby()">játék kezdése</button>
    </div>
  </nav>
<div class="container">
  <div class="user-info">
    <h2>Felhasználói adatok</h2>
    <form >
        <label>Felhasználónév:</label>
        <input type="text" name="username" >
        <br><br>
        <label>E-mail cím:</label>
        <input type="email" name="email" >
        <br><br>
        <label>Teljes név:</label>
        <input type="text" name="fullname" >
        <br><br>
        <label>Születési dátum:</label>
        <input type="date" name="birthdate" >
        <br><br>
       
        <button type="submit" class="update-button">Frissítés</button>
      </form>
     
      
      
    
  </div>

  <div class="activity-list">
    <h2>Eddigi játékok:</h2>
    <ul>
      <li>123</li>
      <li>123</li>
      <li>123</li>
      
    </ul>
  </div>
</div>