<div [hidden]="!loading" class="loading"><img class="loadingpic" src="assets/images/kreditmilliomos-red.png"
    alt="Loading_animation"></div>

<nav>
  <button (click)="redirectToLobby()"><i class="material-icons">play_arrow</i> Játék indítása</button>
  <button (click)="onLogoutPress()"><i class="material-icons">exit_to_app</i> Kijelentkezés</button>
</nav>

<div class="content">
  <h2>Felhasználói profil</h2>
  <div class="custom-row">
    <div class="user-info">
      <h2>Adatok</h2>
      <form [formGroup]="updateForm">
        <div class="input-box">
          <label for="username">felhasználónév</label>
          <input id="username" value="{{this.userdata?.name}}" type="text" formControlName="username" />
        </div>
        <div class="input-box">
          <label for="email">e-mail cím</label>
          <input id="email" class="disabled" readonly value="{{this.userdata?.email}}" type="text">
        </div>
        <div class="input-box">
          <label for="firstName">vezetéknév</label>
          <input id="firstName" value="{{this.userdata?.firstName}}" type="text" formControlName="firstName">
        </div>
        <div class="input-box">
          <label for="lastName">keresztnév</label>
          <input id="lastName" value="{{this.userdata?.lastName}}" type="text" formControlName="lastName">
        </div>
        <div class="checkbox-box">
          <input *ngIf="skipIntro" type="checkbox" (change)="skipIntroChange($event)" checked>
          <input *ngIf="!skipIntro" type="checkbox" (change)="skipIntroChange($event)">
          Intro automatikus átugrása
        </div>
        <div class="update-user-button-holder">
          <button (click)="updateuser()">Profil frissítése</button>
        </div>
      </form>
    </div>

    <div class="scoreboard middle">
      <h2>Korábbi játszmák</h2>
      <div class="list">
        <div class="placed" *ngFor="let score of scores; let i = index">
          <div class="data">
            <div class="place">
              #{{i + 1}}
            </div>
            {{score.category}} - {{score.level}} kredit - {{timeToString(score.time)}}
          </div>
        </div>
      </div>
    </div>

    <div class="scoreboard">
      <h2>Kitüntetések</h2>
      <div class="list">
        <div class="placed" *ngFor="let achievement of achievements | keyvalue">
          <div class="data">
            <div class="place">
              <img [src]=achievement.value [alt]=achievement.key width="25px">
            </div>
            {{achievement.key}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
