<div [hidden]="!loading" class="loading"><img class="loadingpic" src="assets/images/kreditmilliomos-red.png" alt="Loading_animation"></div>

<nav>
  <button (click)="redirectToLobby()"><i class="material-icons">play_arrow</i> Játék indítása</button>
  <button (click)="onLogoutPress()"><i class="material-icons">exit_to_app</i> Kijelentkezés</button>
</nav>

<div class="content">
  <h2>Felhasználói profil</h2>
  <div class="user-info">
    <h2>Adatok</h2>
    <form [formGroup]="updateForm">
      <div class="input-box">
        <label for="username">felhasználónév</label>
        <input id="username" value="{{this.userdata?.name}}" type="text" formControlName="username"/>
      </div>
      <div class="input-box">
        <label for="email">e-mail cím</label>
        <input id="email" class="disabled" readonly value="{{this.userdata?.email}}" type="text">
      </div>
      <div class="input-box">
        <label for="firstName">vezetéknév</label>
        <input id="firstName" value="{{this.userdata?.firstName}}" type="text" formControlName="firstName">
      </div>
      <div class="input-box">
        <label for="lastName">keresztnév</label>
        <input id="lastName" value="{{this.userdata?.lastName}}" type="text" formControlName="lastName">
      </div>
      <button (click)="updateuser()">Profil frissítése</button>
    </form>
  </div>
  <div class="scoreBoard"> <!-- TODO: CSS -->
    categoria | szint | idő
    <div *ngFor="let score of scores">
      {{score.category}} | {{score.level}} | {{timeToString(score.time)}}
    </div>
  </div>
</div>
