/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/scss/bootstrap';
@import 'custom-theme';

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

::-webkit-scrollbar {
  background-color: rgba(245, 235, 234, 1);
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(239, 160, 68, 1);
  border-radius: 5px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  overflow-x: hidden;
  scrollbar-color: #efa044 #f5ebff;
}

body {
  background-color: #f5ebea;
}

.volume {
  position: absolute;
  left: 15px;
  bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
}

.volume input[type="range"] {
  appearance: none;
  margin-left: 8px;
  position: relative;
  width: 125px;
  height: 8px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.volume input[type="range"]::-webkit-slider-runnable-track {
  background: #eaeaea;
}

.volume input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #379b4e;
  box-shadow: -200px 0 0 200px #379b4e;
  border: none;
  border-radius: 50px;
}

.timer {
  margin-top: 8px 0;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333333;
  border: 2px solid #e1def9;
  border-radius: 8px;
}

.timer input[type="range"] {
  appearance: none;
  margin-left: 8px;
  position: relative;
  width: 125px;
  height: 8px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.timer input[type="range"]::-webkit-slider-runnable-track {
  background: #eaeaea;
}

.timer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background-color: #379b4e;
  box-shadow: -200px 0 0 200px #379b4e;
  border: none;
  border-radius: 50px;
}

.cc-btn {
  text-decoration: none;
  transition: 0.5s;
}

.cc-btn:hover {
  background-color: #ee8c1d !important;
}
