@import '../app.component.scss';

nav {
  width: 100%;
  padding: 24px;
}

nav ul {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

nav ul li {
  padding: 16px 32px;
}

nav ul li a {
  display: flex;
  align-items: center;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

nav ul li a:hover {
  color: #efa044;
}

nav ul li a.active {
  color: #efa044;
}

nav ul li a i {
  margin-right: 5px;
}

.content {
  width: 100%;
  padding: 48px 60px;
}

.content .file-box {
  padding: 30px 60px;
  position: relative;
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #444444;
  background-color: #ffffff;
  border: 3px dashed rgba(58, 58, 58, 0.3);
  border-radius: 10px;
  gap: 10px;
  cursor: pointer;
}

.content .file-box img {
  width: 50px;
  height: 50px;
}

.content .file-box .title {
  color: #333333;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}


.content .file-box .title .highlight {
  color: #efa044;
}

.content .file-box .line {
  margin: 15px 0;
  width: 100%;
  border-bottom: 2px solid #7a7a7a;
}

.content .file-box input[type="file"] {
  display: none;
}

.content .file-box button {
  padding: 16px 32px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #efa044;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

.content .file-box button:hover {
  background-color: #ee8c1d;
}

.content .box {
  padding: 24px;
  background-color: #ffffff;
  border-radius: 16px;
}

.content .box .new-question-button {
  padding: 8px 32px;
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  float: right;
  background-color: #efa044;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

.content .box .new-question-button:hover {
  background-color: #ee8c1d;
}

.content .box .save-button {
  padding: 8px 32px;
  margin: 25px 0;
  margin-right: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #efa044;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

.content .box .save-button:hover {
  background-color: #ee8c1d;
}

.content .box .delete-button {
  padding: 8px 32px;
  margin: 25px 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  background-color: #efa044;
  border: none;
  border-radius: 8px;
  transition: 0.4s;
}

.content .box .delete-button:hover {
  background-color: #ee8c1d;
}

.content .box h2 {
  margin-bottom: 24px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.content .box table {
  width: 100%;
}

.content .box table thead th {
  padding-bottom: 8px;
}

.content .box table th {
  padding: 12px 20px;
  color: #333333;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.content .box table td {
  padding: 12px 20px;
  border: 2px solid #e1def9;
}

.content .box table td:last-child {
  border: none;
}

.content .box table td.correct {
  background-color: #34A85333;
  outline: solid;
  outline-color: #34a853;
  outline-width: 2px;
}

.content .box table td button {
  color: #983630;
  font-size: 28px;
  background-color: transparent;
  border: none;
}

.new-question {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
  z-index: 1;
}

.new-question .content {
  padding: 24px;
  margin: 25px auto;
  width: 630px;
  position: relative;
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
}

.new-question .content h2 {
  margin-bottom: 24px;
  color: #333333;
  font-size: 24px;
  font-weight: 600;
}

.new-question .content .row {
  display: flex;
}

.new-question .content .row .input-box {
  width: 33.3%;
}

.new-question .content .input-box {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.new-question .content .input-box label {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.new-question .content .input-box input,
.new-question .content .input-box select {
  padding: 16px 24px;
  margin: 8px 0;
  display: inline-block;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e1def9;
  border-radius: 8px;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}

.new-question .content .input-box input::placeholder {
  color: #333333;
  opacity: 0.3;
}

.new-question .content .save-button {
  padding: 8px 32px;
  margin-right: 20px;
  background-color: #efa044;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
}

.new-question .content .save-button:hover {
  background-color: #ee8c1d;
}

.new-question .content .cancel-button {
  padding: 8px 32px;
  background-color: #efa044;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
}

.new-question .content .cancel-button:hover {
  background-color: #ee8c1d;
}

.new-question .content .close {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
  bottom: auto;
  background-color: #ffffff;
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  transition: 0.5s;
  cursor: pointer;
}

.category {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  float: right;
}

.category select {
  padding: 16px 24px;
  margin: 8px 0;
  width: 250px;
  display: inline-block;
  color: #333333;
  background-color: #ffffff;
  border: 2px solid #e1def9;
  border-radius: 8px;
  outline: none;
  appearance: none;
  box-sizing: border-box;
}
